<div layout="row">
    <div flex-gt-lg="25"
         flex-gt-md="15"
         flex-gt-sm="5"
         layout="column">

    </div>
    <div  flex layout="column">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">About Freedomtoons</h2>
            </div>
        </md-toolbar>

        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Seamus Coughlin</span>
                    <span class="md-subhead">Creator/Animator/Voice Actor</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <img class="md-media-xl card-media"
                     layout="column"
                     ng-src="https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-9/10264603_10201700066495543_4432427505844716627_n.jpg?oh=a5f65f513d5f8237401491f0de02f29c&oe=589FFA22"\>
                <span flex="5" layout="column"></span>
                <div layout="column">
                    <p>
                        I made this stuff, yo! I will have to work on making this so that the text doesn't align like this. I don't know why it's aligned like this by default.
                    </p>
                    <p>
                        This is the second paragraph.
                    </p>
                </div>
            </md-card-content>
        </md-card>

        <h2 class="md-title">Animators</h2>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Pat Oberle</span>
                    <span class="md-subhead">Lip-syncing Animator</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <h2 class="md-title">Sponsors</h2>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Patreon Patrons</span>
                    <span class="md-subhead">Thank you all!</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <h2 class="md-title">Technology</h2>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Geoff Miller</span>
                    <span class="md-subhead">Web Developer</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex-gt-lg="25"
         flex-gt-md="15"
         flex-gt-sm="5"
         layout="column">
    </div>
</div>