<style>
    .wommy-ads {
        height: 75%;
        width: 25%;
        background: white;
        margin: 4%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 4rem;
        padding-bottom: 5rem;
        
        border-radius: 5px;
        border: 1px black solid;
    }
</style>
<div class="wommy-ads">
    <h1>ADS</h1>
</div>
<md-dialog aria-label="Freedom Toons Video Player" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background: rgb(22, 44, 74);">
                <h2>{{selected.snippet.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <youtube-video video-id="selected.id.videoId"></youtube-video>
        <!-- 
        <md-dialog-actions layout="row">
            <md-button ng-click="get_prev_toon()">
                Previous
            </md-button>
            <md-button ng-click="get_next_toon()">
                Next
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('useful')">
                Donate
            </md-button>
        </md-dialog-actions>
         -->
    </form>
</md-dialog>
<div class="wommy-ads">
    <h1>ADS</h1>
</div>