.toon-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*	for some phone media query
	.grid-tile {
		height: 9.25rem;
	}
*/

.grid-tile {
	width: 48.5%;
	height: auto;
	margin-bottom: .5rem;
	text-decoration: none;
}

@media screen and (max-width: 660px) {
	.grid-tile {
		width: 99%;
	}
}

@media screen and (min-width: 1056px) {
	.grid-tile {
		width: 33%;
	}	
}

@media screen and (min-width: 1408px) {
	.grid-tile {
		width: 19.5%;
	}	
}

figure {
	margin: 0;
	padding: .25rem;
	background-color: black;
	color: white;
}

figure img {
	width: 100%;
}

figcaption {
	padding: .25rem .75rem;
}

figcaption h3 {
	margin: 0;
}
