* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
}

header {
	background-color: rgb(33,150,243);
	color: #FFF;
	text-align: center;
	padding: .25rem;
}

aside {
	display: none;
}

aside i {
	display: block;
}

@media screen and (min-width: 1056px) {
	aside {
		display: block;
		min-width: 10rem;
	}	
}

main header {
	width: 100%;
	margin-bottom: .5rem;
}
