body {
	font-family: sans-serif;
	margin:0;
}

header {
	position: fixed;
}

header h1 {
	text-align: center;
}

header nav {
	margin: .5rem 1rem;
}

header h1, header nav {
	display: inline-block;
	vertical-align: top;
}

main {
	padding-top: 5rem;
	margin-left: 10rem;
}

header h1 {
	width: 100vw;
	padding: 1.5rem;
	margin: 0;
	background-color: rgb(33,150,243);
	color:#FFF;
	z-index: 2;
	box-sizing: border-box;
}

nav i {
	display: block;
}