* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
}

header {
	background-color: rgb(22, 44, 74);
	color: #FFF;
	text-align: center;
}

aside {
	display: none;
}

aside > nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside img {
	width: 100px;
	height: auto;
	margin: 0 1rem;
}

aside > nav > nav {
	width: 70%;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-facebook {
	color: #4267B2;
}

.fa-youtube {
	 color: #FF0000;
}

@media screen and (min-width: 1056px) {
	aside {
		display: block;
	}	
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main > header {
	width: 100%;
	margin-bottom: .5rem;
	display: flex;
	justify-content: space-between;
}
