<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{pkg.name}}</title>
	<style>
{% include __style.css %}
	</style>
</head>
<body>
	{% include nav %}
	<main>
		<header>
			<img src="/__static/img/banner/characters1.png" alt="some characters">
			<img src="/__static/img/banner/logo.png" alt="logo">
			<img src="/__static/img/banner/characters2.png" alt="more characters">
		</header>
		{{content}}
	</main>
	<script></script>
</body>
</html>
