<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{pkg.name}}</title>
	<style>
{% include __style.css %}
	</style>
</head>
<body>
	{% include nav %}
	<main>
		<header>
			<h1>{{pkg.name|upcase}}</h1>
		</header>
		{{content}}
	</main>
	<script></script>
</body>
</html>
