<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{%- include favicon %}
	<title>{{pkg.name}}</title>
	<style>
{% include __style.css %}
	</style>
</head>
<body>
	{% include nav %}
	<main>
		<header>
			<style>
				main > header {
					align-items: flex-end;
				}
				:root {
					--w1: 210;
					--w2: 700;
					--w3: 300;
					--wT: calc(var(--w1) + var(--w2) + var(--w3));
					--rw1: var(--w1) / var(--wT);
					--rw2: var(--w2) / var(--wT);
					--rw3: var(--w3) / var(--wT);
				}
				main > header > div > img {
					width: 100%;
					transform: translateY(4px);
				}
				main > header > div:nth-of-type(2) > img {
					width: 120%;
					transform: translateX(-8%) translateY(4px);
				}
			</style>
			<div style="width: calc(100% * var(--rw1));">
				<img src="/__static/img/banner/characters1.png" alt="some characters">
			</div>
			<div style="width: calc(100% * var(--rw2)); z-index: 1;">
				<img src="/__static/img/banner/logo.png" alt="logo">
			</div>
			<div style="width: calc(100% * var(--rw3));">
				<img src="/__static/img/banner/characters2.png" alt="more characters">
			</div>
		</header>
		{{content}}
	</main>
	<script></script>
</body>
</html>
