<aside>
	<nav>
		<header>
			<img src="/__static/img/menu/menu-light.png" alt="menu">
		</header>
		<a href="/">
			<img src="/__static/img/menu/home-{% if page.url == '/' %}dark{% else %}light{% endif %}.png" alt="home">
		</a>
		<a href="/about">
			<img src="/__static/img/menu/about-{% if page.url == '/about/' %}dark{% else %}light{% endif %}.png" alt="about">
		</a>
		<a href="/donate">
			<img src="/__static/img/menu/donate-{% if page.url == '/donate/' %}dark{% else %}light{% endif %}.png" alt="donate">
		</a>
		<h4>Social Media</h4>
		<nav>
			<a href="https://twitter.com/seamus_coughlin" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://www.facebook.com/FreedomToons" target="_blank">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="https://www.youtube.com/user/Cartanimation" target="_blank">
				<i class="fab fa-youtube"></i>
			</a>
		</nav>
	</nav>
</aside>
