<aside>
	<nav>
		<header>
			<img src="/__static/img/menu/menu-light.png" alt="menu">
		</header>
		<a href="/">
			<img src="/__static/img/menu/home-{% unless page.url == '/' %}light{% else %}dark{% endunless %}.png" alt="home">
		</a>
		<a href="/about">
			<img src="/__static/img/menu/about-{% unless page.url == '/about/' %}light{% else %}dark{% endunless %}.png" alt="about">
		</a>
		<a href="/donate">
			<img src="/__static/img/menu/donate-{% unless page.url == '/donate/' %}light{% else %}dark{% endunless %}.png" alt="donate">
		</a>
		<h4>Social Media</h4>
		<nav>
			<a href=""><i>Twitter</i></a>
			<a href=""><i>Facebook</i></a>
			<a href=""><i>Youtube</i></a>
		</nav>
	</nav>
</aside>
