nav
	header
		h3 Menu
	a(href='/') Home
	a(href='/about') About
	a(href='/donate') Donate
	span More Freedom!
	a(href='/feedom-links') Links
	span Social Media
	div
		a(href='https://twitter.com/seamus_coughlin') twitter
		a(href='https://facebook.com/FreedomToons') facebook
		a(href='https://youtube.com/user/Cartanimation') youtube