---
title: about
---
<h1>About Freedomtoons</h1>

<h2>Seamus Coughlin</h2>

<h4>Creator/Animator/Voice Actor</h4>

<p>I made this stuff, yo! I will have to work on making this so that the text doesn't align like this. I don't know why it's aligned like this by default.</p>

<p>This is the second paragraph.</p>

<h3>Animators</h3>

<h2>Pat Oberle</h2>

<p>Lip-syncing Animator</p>

<h3>Sponsors</h3>

<h2>Fan Supporters</h2>

<p>Thank you all!</p>

<h3>Technology</h3>

<h2>Geoff Miller</h2>

<p>Web Developer</p>
