---
title: donate
---
<h3>Donate to Freedomtoons</h3>

<div style="display: flex; justify-content: center;">
	<iframe src="https://donorbox.org/embed/freedomtoons?amount=2&default_interval=m" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest width="425px" height="1374px"></iframe>
</div>

<h3>Thank you for your support!</h3>
