---
title: donate
---
### Donate to Freedomtoons

<div style="display: flex; justify-content: center;">
	<iframe src="https://donorbox.org/embed/freedomtoons?amount=2&default_interval=m" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest width="425px" height="1374px"></iframe>
</div>

### Thank you for your support!
