---
title: videos
pagination:
  data: yt_api.items
  size: 1
  alias: video
permalink: "videos/{{ video.snippet.title | slug }}/"
---
<style>
	article {
		max-width: 640px;
		display: flex;
		flex-direction: column;
	}
</style>
<article>
	<header>
		<h2>{{ video.snippet.title }}</h2>
	</header>
	<iframe src="https://www.youtube.com/embed/{{ video.snippet.resourceId.videoId }}" width="640" height="480" frameborder="0" allowfullscreen></iframe>
	<!-- <p>{{ video.snippet.description | markdownify }}</p> -->
</article>
